a:link {
    color: #ffc600;
}
a:visited {
    color: #ffc600;
}
a:hover {
    color: #ffc600;
}
a:visited {
    color: #ffc600;
}
a{
    text-decoration:none;
}
body {
    background-image: url(/ALL_IMAGE/Gao_Fu/notify.jpg);
    background-size: 100%;
    color: white;
    font-size: 18px;
    height: 700px;
    padding-top: 10%;
}

.SysReadInfo ,.SysInfo{
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
    clear: left;
    border-bottom: 2px solid white;
}
li {
    text-decoration: none;
    display: inline;
}
.NEW {
    float: left;
    color:orangered;
}
.DeleteNotifyInfo {
    float: right;
}


/***********************************ResInfo**********************************/
.ResInfo {
    margin: 0;
    padding: 0;
    height: 50px;
    line-height:50px;
    clear: left;
    border-bottom: 2px solid white;
}
p {
    margin:0;
}
.str {
    float: left;
}
.ReplyUserName {
    float:left;
    clear:both;
}
.Rescontent {
    float: left;
}
.WorkType {
    float: left;
}
.Quote {
    float: left;
}
.WorkName {
    float: left;
}