body {
    width: 170px;
    float: left;
    background: #000;
}

#Shuffling {
    width: 170px;
    float: left;
}

.shuffling {
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    float: left;
}

    .shuffling li {
        display: inline-block;
        margin: 3px 8px 0 0;
        width: 20px;
        text-align: center;
        color: #b1b1b1;
        border: 1px solid olive;
    }

        .active,
        .shuffling li:hover {
            background-color: #e36500;
        }
