<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Generator" content="EditPlus®">
    <meta name="Author" content="言锋诶呀">
    <meta name="Keywords" content="">
    <meta name="Description" content="">

    <title>新世界的大门</title>
    <link rel="stylesheet" href="~/Content/AnZiXiang/all.css" />
</head>

<body>
    <div id="nav-holder" class="nav-holder">
        <ul class="nav">
            <li class="active"><a href="/Shared/AnZiXiang_HeadPage">这是一个没什么用的顶部导航，虽然可以点击，但是点了也没什么用。就是看起来炫酷一点</a></li>
        </ul>
    </div>

    <div class="page">

        <div class="masthead" role="">
            <h1></h1>
            <p class="logo"><img src="~/ALL_IMAGE/AnZiXiang/哲学领导人民.jpg" width="730" height="500" /></p>

            <ul class="social-sites">
                <br>
                <li><a href="https://zh.moegirl.org/哲♂学#"><span style="font-size:20px">哲♂学深度解析</span></a></li>
                </br>
                <br>
                <li><a href="https://tv.sohu.com/v/dXMvNjMzNjk5NjYvMzMzMjM0OTEuc2h0bWw=.html"><span style="font-size:20px">哲♂学经典</span></a></li>
                </br>
            </ul>

            <nav role="navigation">
                <ul class="nav-main">
                    <li>Ass♂We</li>
                    <li>Ass♂We</li>
                    <li>Ass♂We♂Can</li>
                </ul>
            </nav>
        </div>

        <div class="container clesrfix">
            <main role="main">
                <section class="post">
                    <h2>哲♂学基础入门</h2>
                    <div class="content">
                        <p>
                        <p><img src="~/ALL_IMAGE/AnZiXiang/哲学三信.jpg" width="600" height="800"></a></p>
                        常用术语<br>
                        哲♂学三信<br>
                        哲♂学三信是哲♂学思想的大原则和绝对普遍真理。包含了以下三个部分：<br>

                        告诫之心：做得还不够好啊！<br>
                        赞美之心：你做得很不错嘛！<br>
                        许容之心：那也是没有办法的事情嘛！<br>
                        合称“戒赞许”，是每一个哲♂学信徒须熟知和遵守的内容。<br>
                        参透哲♂学三信，则是兄贵哲♂学的最高境界。<br>
                        哲学三信最早可考的出处是日本niconico上的一个视频sm3551427，本身其实是三句日语空耳，即：<br>
                        告诫之心： 英语原句：Like embarrassing me huh!?   日语空耳：最近だらしねぇな！？    中文空耳：来人搞死♂你哈<br>
                        赞美之心： 英语原句：You got me mad now.          日语空耳：歪みねぇな              中文空耳：又搞你♂妹呐<br>
                        许容之心： 英语原句：That's not right, man.       日语空耳：仕方ないね              中文空耳不详，但是前一句是非常有名的木吉空耳——这个世界太♂乱<br>
                        </p>
                    </div>
                    <footer class="footer">
                        <p class="post-footer"> 哲♂学基础入门</p>
                    </footer>
                </section>
                <section class="post">
                    <h1> 新日暮里体系的形成</h1>
                    <div class="content">
                        <p>
                            <img src="~/ALL_IMAGE/AnZiXiang/新日暮里战队.jpg" width="600" height="400" />
                            传说中兄贵们所生活居住的地方，出自木吉和比利对战时大喝的一句"Shinnippori!!!"。新日暮里是一个与我们所生活的次元隔绝但又暗里存在着各种微妙的联系的幻想乡，政治上的领袖为森之大统领，而精神上的领袖则是森の妖精比利·海灵顿，与兄贵有关的故事大多在此展开！其中衍生出了以比利·海灵顿为首的光之阵营和以范·达克霍姆为首的暗之阵营相互对抗的故事。这些传说与神话每日在新日暮里上演着！
                        </p>
                        兄贵：在新日暮里生活的种族，在现实中拥有本位面。新日暮里有两个种族，一个是以男性为代表的兄♂贵，或是以女性代表的姐♀贵。姐贵和兄贵之间也可以探讨哲♂学，但是炒饭是严禁的！对于一般人来说即是哲♂学家。女哲♂学家可以称为姐贵。“一般兄贵/姐贵”指一般哲♂学家。
                    </div>

                    <footer role="contentinfo" class="footer">
                        <p class="legal" ;><small>息子 | 弱子 | 哲学小鬼 | 新日暮里谜之生物 | 姐贵迫害群体 | 超兄贵系列</small></p>
                        <p class="legal"><small>&copy;  言锋诶呀.</small></p>
                    </footer>
                </section>
            </main>
            <div class="sidebar">
                <article class="about">
                    <h2>哲学的启源</h2>
                    <img src="~/ALL_IMAGE/AnZiXiang/起源.jpg" width="270" height="162" />
                    <p>最初起源是因为美国㚻片演员比利·海灵顿（森の妖精）的㚻片前戏中常常会有各种奇怪让人一脸懵Ｂ的、不明所以的行为和叫声。2007年9月30日下午，某日本网友在niconico动画中上传了一段经过删减等和谐处理的㚻片，该片主演为比利·海灵顿，因为影片中海灵顿与另外一位㚻片演员进行了一段匪夷所思的摔跤，并且在摔跤过程中的动作和叫喊声极为奇怪，且不断地在地上翻跟头，遂立即遭到niconico网友恶搞。</p>
                </article>

                <div class="mod">
                    <h2>Deep Dark Fanstic</h2>
                </div>

                <aside class="mod">
                    <h2><a href="/Shared/AnZiXiang_Dark" class="more">至恶の暗之阵营</a></h2>

                    <ul class="links">
                        <li>1.VAN样：范·达克霍姆</li>
                        <li>2.新日暮里平氏贵族后裔 镰田吾作</li>
                        <li>3.镰仓の大家臣：魅惑舞步-力之金阁</a></li>
                        <li>4.镰仓の大将军：魅惑舞步-技之银阁</a></li>
                    </ul>
                </aside>

                <aside class="mod">
                    <h2><a href="/Shared/AnZiXiang_Light" class="more">新日暮里的光之救赎者们</a></h2>

                    <ul class="links">
                        <li>1.森の妖精-比利·海灵顿</li>
                        <li>2.鬼步的木吉-木吉カズヤ</li>
                        <li>3.最初之蕉男-贝奥兰迪</li>
                    </ul>
                </aside>

            </div>

        </div>

    </div>
</body>
</html>