<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新日暮里的光之救赎者们</title>
    <link rel="stylesheet" href="~/Content/AnZiXiang/all.css" />
</head>
<body>
    <div id="nav-holder" class="nav-holder">
        <ul class="nav">
            <li class="active"><a href="/Shared/AnZiXiang_HeadPage">这是一个没什么用的顶部导航，虽然可以点击，但是点了也没什么用。就是看起来炫酷一点</a></li>
        </ul>
    </div>
    <br><br><br><br><br><br><br>

    <div style="margin-left:13%">
        <p style="font-size:12px"><a href="/Shared/AnZiXiang_HeadPage">返回首页>></a></p>
        <div style="margin-right:70%">
            <img src="~/ALL_IMAGE/AnZiXiang/比利.jpg" width="400" />
            <li>森の妖精-比利·海灵顿</li>
        </div>
        <p style="margin-right:30%">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp森の妖精——比利·海灵顿，又称比利王，因为在一段㚻片视频中他裸着身子走出了森林，所以又被称之为森の妖精。一手创立新日暮里，英雄般的存在。曾经作为妖精，无论是实力还是肉体强度都几乎位于整个新日暮里之巅。击败众多强者成为英雄联盟的领袖。必杀技是炒饭烧以及各种华丽的炒饭技终结技：王之提肛。打败过木吉、贝奥兰迪、城之内以及镰田吾作等人【也曾帮助猎天使魔男形态的贝奥兰迪击败Deep♂Dark♂Fantasy状态下的VAN（参见av4587）】王竟被须藤以及ユリアン小林打败过。但与ユリアン小林摔跤的最后扳回一局。曾经在军营中担任军曹，亲自教导新兵。拥有专属坐骑-黑肛，并对其十分爱护。虽拥有惊人的马力，但比利平时驾驶的速度十分安全，甚至比路边的鸭子还要慢，展现出比利王铁汉柔情的一面。
            名言有 Ass♂we♂can、乖乖♂站好、奥义♂很爽、无双♂大王（来慰♂吾皇）或无双♂大黄瓜、啊♂幻想乡、♂来人搞死你啊♂ 、♂多么湿又脏♂等。<br>
            有记载显示在新日暮里的的上古时期（旧日暮里时期），那里也被称为幻♂想♂乡。有一位[数据损坏]与比利十分相似，而[数据损坏]与当时的旧日暮里领导者勃力♂灵梦熟识。在遭遇赤ちゃん的惩罚后，旧日暮里消失，新日暮里诞生，[数据损坏]转生为比利。因此比利仍保留有部分幻♂想♂乡的记忆啊♂幻想乡。
        </p>
    </div>
    <hr style="text-align:right;margin:auto 13%" />
    <br><br><br>
    <div style="margin-left:13%">

        <div style="margin-right:70%">
            <img src="~/ALL_IMAGE/AnZiXiang/木吉.jpg" width="400" />
            <li>鬼步的木吉-木吉カズヤ</li>
        </div>
        <p style="margin-right:30%">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp祖籍云南省，生于广东深圳。最强的人类，是曾经与蟒蛇搏斗的硬汉，曾用艺名Danny_Lee、Danny Dallas现名Alan RossettDanny_Resko,又名十六夜和某女仆一样拥有时停能力，和比利是亦敌亦友的关系，英雄♂联盟成员之一，在与比利争夺英雄♂联盟第一交椅的时候败下阵来。身份是津吉工业的社长，手下有木吉七本枪。必杀技有神の救济(抓挡)、未知领域(时停)、鬼步、海（虾）老臭胖次、Gay♂Bar拘束、自摸、坚毅眼神等，其中鬼步最有名。在与王♂的战斗中大喊一句：“新日♂暮里！！”而成名。<br>
            名言有:♂俺深圳来的♂一说是“你系深圳嚟噶？”（貌似是哲♂学里唯一一句粤语）、♂这个世界太乱♂、别走♂别走、吼吼吼♂全给党等。
            </p>
    </div>
    <hr style="text-align:right;margin:auto 13%" />
    <br><br><br>
    <div style="margin-left:13%">

        <div style="margin-right:70%">
            <img src="~/ALL_IMAGE/AnZiXiang/蕉男.jpg" width="400" />
            <li>最初之蕉男-贝奥兰迪</li>
        </div>
        <p style="margin-right:30%">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp本名马克·沃尔夫，又称尻♂雨魔罗沙广东人，英雄♂联盟的一员大将，被称作♂猎天使♂魔男♂（出处av4587），无论是外表还是战斗都非常华丽，实力不可小觑。曾在更衣室中被VAN挑衅,并成功击败表层状态的VAN，但又被比利抱头杀打败。之后更是连续击败了追击上来的金银二阁和野蔷薇.之后与比利合力击败了DDF状态下的VAN.喜欢吃香蕉。名言有：去年勃♂起至今、♂我也是个广东人♂。得意技是魔男爪、双重雪步（double yukipo）、广东足疗、剪刀脚。目前被赤酱加封为新任的♂王，代替比利领导兄♂贵们前♂进！
        </p>
    </div>

    <footer role="contentinfo" style="margin:auto 13%">
        <p class="legal" ;><small>息子 | 弱子 | 哲学小鬼 | 新日暮里谜之生物 | 姐贵迫害群体 | 超兄贵系列</small></p>
        <p class="legal"><small>&copy;  言锋诶呀.</small></p>
    </footer>

</body>
</html>