<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>至恶の暗之阵营</title>
    <link rel="stylesheet" href="~/Content/AnZiXiang/all.css" />
</head>
<body>
    <div id="nav-holder" class="nav-holder">
        <ul class="nav">
            <li class="active"><a href="/Shared/AnZiXiang_HeadPage">这是一个没什么用的顶部导航，虽然可以点击，但是点了也没什么用。就是看起来炫酷一点</a></li>
        </ul>
    </div>
    <br><br><br><br><br><br><br>
    <div style="margin-left:13%">
        <p style="font-size:12px"><a href="/Shared/AnZiXiang_HeadPage">返回首页>></a></p>
        <div style="margin-right:70%">
            <img src="~/ALL_IMAGE/AnZiXiang/VAN.jpg" width="400" />
            <li>表层形态VAN樣</li>
            <img src="~/ALL_IMAGE/AnZiXiang/DDF状态VAN.jpg" width="400" />
            <li>DDF形态VAN樣</li>
        </div>
        <p style="margin-right:30%">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp范·达克霍姆（Van Darkholme，1972年10月24日－）是一位越裔美国㚻片演员、导演及摄影师；又名勃♂力灵♂梦，暗黑势力的头领，拥有极其强大的暗属性精神攻击和洗脑能力，还能使用dark♂拷贝复制对手的招式（与贝奥兰迪一战中拷贝了贝奥兰迪的剪刀脚和足疗）。进入Deep♂Dark♂Fantasy状态后需要王和猎天使魔♂男形态下的贝奥兰迪合力才能击败。
            性格难以捉摸，兴趣广泛，刻苦练习剑术，喜好SM，经常对手下的“平家BOYS”进行调♂教。其一身皮带地站在储物柜旁叫出口头禅Fa♂Q的场景可谓哲♂学界最经典的镜头之一。曾经在街头现场示范SM的知识并且传教。
            名台词有 FA♂Q、DEEP♂DARK♂FANTASY、BOY♂NEXT♂DOOR、Do you like WHAT♂YOU♂SEE玩♂游♂戏、SLAVES GET YOUR ASS♂ BACK HERE♂来，一起拉♂大♂便！等。
            在本位面的化身有佟Dark♂为，成龙等，曾出演过由刘德华主演的电影《大Dark♂冒险家》。
        </p>
    </div>
    <hr style="text-align:right;margin:auto 13%" />
    <br><br><br>
    <div style="margin-left:13%">

        <div style="margin-right:70%">
            <img src="~/ALL_IMAGE/AnZiXiang/镰田吾作.jpg" width="400" />
            <li>新日暮里平氏贵族后裔 镰田吾作</li>
        </div>
        <p style="margin-right:30%">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp全名平朝臣镰田吾作教经，现VAN的手下，天真无邪的平氏贵族后裔。新日暮里的大家族-镰田家族的现任当家。拥有迷人的纯真微笑，曾在健身房偷窥比利和木吉健身被比利发现并强制拖入战斗，战斗后完败并被掘肛，留下心理阴影。与其他兄贵相比身形比较柔弱，愿望是想变成镰田家族所崇拜的螃蟹（特指平家蟹，镰田家纹）。有些人觉得半鱼人是吾作的末路。因为希望复兴衰落的家族而加入VAN的黑暗阵营，成为VAN的奴隶。名台词是“♂阿姨好大胆！阿姨好大胆♂！”，在日语中被空耳为“想变成螃蟹”。</p>
    </div>
    <hr style="text-align:right;margin:auto 13%" />
    <br><br><br>
    <div style="margin-left:13%">

        <div style="margin-right:70%">
            <img src="~/ALL_IMAGE/AnZiXiang/金阁.jpg" width="400" />
            <li>镰仓の大家臣：魅惑舞步-力之金阁</li>
        </div>
        <p style="margin-right:30%">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp镰田家的一员大家臣古明地觉，因其注重力量的战斗风格被称为力の金阁，其长相酷似法国皇帝拿破仑。绝技是♂股间慢慢摩擦♂并能以此生火点着了金阁寺。曾在更衣室内协同银阁与贝奥兰迪摔跤并进行润滑油大战。与银阁私底下交过手，失误而败北，被VAN处以“抽真空”伤肾的处罚。赤酱颜色是金色。
        </p>
    </div>
    <hr style="text-align:right;margin:auto 13%" />
    <br><br><br>
    <div style="margin-left:13%">

        <div style="margin-right:70%">
            <img src="~/ALL_IMAGE/AnZiXiang/银阁.jpg" width="400" />
            <li>镰仓の大将军：魅惑舞步-技之银阁</li>
        </div>
        <p style="margin-right:30%">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp镰田家的一员大将古明地恋，因其注重技巧的战斗风格被称为技の银阁，其长相酷似纽约FC足球俱乐部球星兰帕德，拥有魅惑之舞，皮肤略黑。曾在更衣室内协同金阁与贝奥兰迪摔跤并进行润滑油大战。与金阁私底下交过手而胜利。赤酱颜色是银色。
            银阁是镰田家的大药师之一，随着镰田家族没落，银阁也就只好重寻新主。
        </p>
    </div>

    <footer role="contentinfo" style="margin:auto 13%">
        <p class="legal" ;><small>息子 | 弱子 | 哲学小鬼 | 新日暮里谜之生物 | 姐贵迫害群体 | 超兄贵系列</small></p>
        <p class="legal"><small>&copy;  言锋诶呀.</small></p>
    </footer>

</body>
</html>