<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ドラゴンボールの人物</title>
    <link href="~/Content/LiuBoWen/CharacterBrief.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="header"><h1>ドラゴンボールの人物</h1></div>
    <div id="container">
        <div id="main">
            <div class="nav">
                <ul class="nav_main">
                    <li><a href="">七龙珠</a></li>
                    <li><a href="">龙珠Z</a></li>
                    <li><a href="">龙珠GT</a></li>
                    <li><a href="">龙珠超</a></li>
                </ul>
            </div>
            <div class="mainbody">
                <div class="CharacterIntroduct"><h1>人物介绍</h1></div>
                <div id="七龙珠">
                    <section>
                        <div class="img_Left">
                            <img src="/ALL_IMAGE/LiuBoWen/七龙珠人物/孙悟空.jpg">
                        </div>
                        <div class="LeftContainer">
                            <div class="LeftName"><p>孙悟空</p></div>
                            <div class="LeftDubbing">
                                <p>声优：<a href="">野泽雅子</a></p>
                            </div>
                            <div class="LeftPara">
                                <p>本作的主人公。长着尾巴，天生怪力的神奇少年。小时候被龟仙人的大弟子孙悟饭收养，在爷爷去世后独居在山中，守护着孙悟饭的遗物四星龙珠，每天勤于练武，喜欢和强大的对手战斗。</p>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="img_Right">
                            <img src="/ALL_IMAGE/LiuBoWen/七龙珠人物/克林.jpg">
                        </div>
                        <div class="RightContainer">
                            <div class="RightName"><p>克林</p></div>
                            <div class="RightDubbing">
                                <p><a href="">田中真弓</a>：声优</p>
                            </div>
                            <div class="RightPara">
                                <p>自幼开始和悟空一同在龟仙人之处修行的地球人。和悟空一起经历了和多数强敌的死战。虽然有胆小的一面，但却有着当同伴遭遇危机时不论面对任何强敌都会挺身而出的勇气。</p>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="img_Left">
                            <img src="/ALL_IMAGE/LiuBoWen/七龙珠人物/布玛.jpg">
                        </div>
                        <div class="LeftContainer">
                            <div class="LeftName"><p>布玛</p></div>
                            <div class="LeftDubbing">
                                <p>声优：<a href="">鹤弘美</a></p>
                            </div>
                            <div class="LeftPara">
                                <p>在深山中和悟空初次相遇的最初的伙伴。万能胶囊公司的大小姐，开发了龙珠雷达等工具，是机械方面的天才。</p>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="img_Right">
                            <img src="/ALL_IMAGE/LiuBoWen/七龙珠人物/乌龙.jpg">
                        </div>
                        <div class="RightContainer">
                            <div class="RightName"><p>乌龙</p></div>
                            <div class="RightDubbing">
                                <p><a href="">龙田直树</a>：声优</p>
                            </div>
                            <div class="RightPara">
                                <p>动物型地球人，外形像猪。一开始为抢人的妖精，专门抢漂亮的女孩，最后因与悟空一斗，彻底改邪归正。</p>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="img_Left">
                            <img src="/ALL_IMAGE/LiuBoWen/七龙珠人物/雅木茶.jpg">
                        </div>
                        <div class="LeftContainer">
                            <div class="LeftName"><p>雅木茶</p></div>
                            <div class="LeftDubbing">
                                <p>声优：<a href="">古谷彻</a></p>
                            </div>
                            <div class="LeftPara">
                                <p>原本是沙漠里的强盗，由于机缘巧合结识孙悟空、布尔玛等人，于是改邪归正。后投入龟仙人名下。</p>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="img_Right">
                            <img src="/ALL_IMAGE/LiuBoWen/七龙珠人物/龟仙人.jpg">
                        </div>
                        <div class="RightContainer">
                            <div class="RightName"><p>龟仙人</p></div>
                            <div class="RightDubbing">
                                <p><a href="">方树桥</a>：声优</p>
                            </div>
                            <div class="RightPara">
                                <p>龟仙流武术的创始者。在世间被誉为世界最强，被称为武天老师的传说中的武道家。悟空和小林的师父，同时也是悟空的祖父·孙悟饭以及琪琪的父亲·牛魔王的师父，不过是个超级色狼。</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div id="sidebar">
        </div>
    </div>
    <div id="footer">
        <p name="name1 name2"></p>
    </div>
</body>
</html>