<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ドラゴンボール劇場</title>
    <link type="text/css" href="~/Content/LiuBoWen/Movies.css" rel="stylesheet">
    <script src="~/Js/Movies.js"></script>
</head>
<body>
    <div id="header"></div>
    <div id="container">
        <div id="main">
            <div id="nav">
                <ul class="nav_main">
                    <li><a href="javascript:ShowFirstPage(1);">龙珠剧场版</a></li>
                    <li><a href="javascript:ShowFirstPage(2);">剧场版信息</a></li>
                </ul>
            </div>
            <div class="mainbody">
                <div class="Act_Tool">
                    <p><a href="">收藏</a></p><p class="Seperate">|</p><p><a href="">点赞</a></p>
                </div>
                <div class="mainbody_main">
                    <div id="First_Page" style="display: block">
                        <section class="Article">
                            <div class="Movie">
                                <h1 id="Movie">龙珠剧场版</h1>
                            </div>
                            <p>
                                从1986年开始公映的龙珠第1部剧场版神龙的传说，到1996年官方原创完结，
                                2013年重开由原作者<a href="">鸟山明 </a>担当剧场故事剧本及人物设定。以下还有TV特别篇、OVA版等。
                            </p>
                            <p>
                                2013年3月30日，时隔27年的龙珠剧场版新作<em>龙珠第18部剧场特典版<a href="">《龙珠Z：神与神》</a></em>，
                                本部剧场由原作者<a href="">鸟山明 </a>担当故事剧本及人物设定，日本票房高达30亿日元。本部剧场版
                                讲述了发生在原著龙珠漫画517话和518话10年间这段空白时期破坏神比鲁斯为了寻求赛亚
                                人之神而到达地球的剧情。
                            </p>
                            <p>
                                2015年4月18日推出<em>龙珠第19部剧场特典版<a href="">《龙珠Z：复活的弗利萨》</a></em>。这部作品是鸟山明亲
                                自进行故事剧本及人物设计创作的剧场版，也是继2013年的《龙珠Z：神与神》之后第二部
                                由鸟山明担当故事设定的剧场版。同时，本作品也是日本首部以3D IMAX形式上映的电影。
                                讲述了弗利萨的手下用龙珠复活弗利萨报仇孙悟空等人的剧情。
                            </p>
                            <p>
                                2018年12月14日推出<em>龙珠第20部剧场特典版<a href="">《龙珠超：布罗利》</a></em>这部作品是鸟山明亲自进行
                                剧本及角色设计创作的电影动画，进一步与世界观的不断扩大，绝赞放送中的TV动画《龙珠超》 。
                                然后，超越时代，不断追求“更强大的角色”，“更有趣的故事”不断追求的剧场版系列，终于
                                迎来了20部作品的纪念企画！
                            </p>
                        </section>
                        <section class="Introduction">
                            <div class="BlockOne">
                                <dl>
                                    <dt class="Dt_Name">中文名</dt>
                                    <dd class="Dd_Describe">龙珠剧场版</dd>
                                    <dt class="Dt_Name">外文名</dt>
                                    <dd class="Dd_Describe">Dragon Ball Movie</dd>
                                    <dt class="Dt_Name">出品时间</dt>
                                    <dd class="Dd_Describe">1986-1996（官方原创），2013年重开（鸟山明担当编剧）</dd>
                                    <dt class="Dt_Name">编剧</dt>
                                    <dd class="Dd_Describe">鸟山明</dd>
                                    <dt class="Dt_Name">类型</dt>
                                    <dd class="Dd_Describe">动画/搞笑/动作/科幻/冒险/战斗/励志</dd>
                                    <dt class="Dt_Name">声优</dt>
                                    <dd class="Dd_Describe">
                                        <a href="">野泽雅子</a>，
                                        <a href="">鹤弘美</a>，
                                        <a href="">田中真弓</a>，
                                        <a href="">古川登志夫</a>，
                                        <a href="">崛川亮</a>
                                    </dd>
                                </dl>
                            </div>
                            <div class="BlockTwo">
                                <dl>
                                    <dt class="Dt_Name">片长</dt>
                                    <dd class="Dd_Describe">41-105min</dd>
                                    <dt class="Dt_Name">对白语言</dt>
                                    <dd class="Dd_Describe">日语、普通话、英语</dd>
                                </dl>
                            </div>
                        </section>
                        <section class="Movies_Info">
                            <div class="Movie_Info">
                                <h1 id="Movie_Info">剧场版信息</h1>
                            </div>
                            <div class="Name_Situation">
                                <h3>命名冲突</h3>
                                <p>
                                    因龙珠剧场版较多，所以粉丝们总是把美版翻译名称记成了日版，例如：
                                    第5部剧场版：《世界最强的高手》（日版）、《世上最强大的人》（美版）
                                </p>
                                <p>
                                    第18部剧场版：《神与神》（日版）、《神与神之战》（美版）像这些例子的
                                    名称都很常见，比如古拉的复仇（日版的名字为《最强对最强》），因此被粉丝们津津乐道。
                                </p>
                            </div>
                            <div class="Japan_GoldenWeek">
                                <h3>日本黄金周</h3>
                                <p>因龙珠影响力巨大，于每年11月第一个周六至第12月的周六重复播放。</p>
                                <p>(注：日本“黄金周”，又称“黄金周间”，是日本在4月至5月间的多个节日组成的公众假期)</p>
                            </div>
                        </section>
                    </div>
                    <div id="Second_Page" style="display: none">
                        <div class="brief"><h1>剧情简介</h1></div>
                        <div class="t0" style="display: block">
                            <section class="t_Paragraph">
                                <b>龙珠：神龙的传说</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    很久很久以前，曾流传着这样一个传说：神创造了七颗龙珠，散落在世界的各个角落。据说只要集齐这些龙珠并念出咒语，便可召唤出神龙，而神龙将帮助你实现一个愿望。<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp;时尚女孩布尔玛独自来到深山寻找龙珠，偶遇居住在这里的少年小悟空。小悟空个子虽小，却拥有一身的本领。经过一波三折，他们最终一同踏上寻找龙珠的旅程。另一方面，在遥远的地方有一个咕噜曼斯王国，当地盛产极为珍贵的红宝石。受利益驱动，国王的军队将当地百姓赶出家园，大肆破坏田地。而穷奢极欲的国王吃尽天下的美食，如今却想尝尝神龙肉的味道。一场围绕龙珠展开的奇幻大冒险就此拉开序幕……
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/神龙的传说_1.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">龙珠:神龙传说</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">ドラゴンボール 神龙の伝说</p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">1986年</p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">西尾大介</p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">50分钟</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">1986年12月20日(日本)</p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">日语</p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空&孙悟饭&孙悟天：<a class="Act">野泽雅子</a><br>
                                                布尔玛：<a class="Act">鹤弘美</a><br>
                                                克林：<a class="Act">田中真弓</a>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t1" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠：魔神城内的睡美人</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    小悟空踩着跟斗云，穿越千山万水来到武天老师的住处，希望在此继续磨练武功。与之先后到来的，还有精于谄媚之道的小滑头库林。武天老师故意端着架子，声称只有救出魔神城的睡美人才同意收他们为徒。两个小家伙信以为真，正先恐后向魔神城进发，期间库林还为小悟空制造不少的麻烦。历经千辛万苦，他们终于来到了目的地。与此同时，布玛、亚姆查、普尔和乌龙来找武天老师玩，得知消息后也赶往魔神城寻找小悟空，途中却遭到恶魔们的袭击，布玛更被看似英俊实则凶残的恶魔城主路西法俘虏。<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp;此时此刻，恶魔们正在进行一项邪恶的计划，小悟空他们能否拯救危机呢？
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/魔神城里的睡美人_2.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">魔神城内的睡美人</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">ドラゴンボール 魔神城のねむり姫</p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">1987年5月21日</p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">西尾大介</p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">45分</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">1987年7月18日(日本);1987年12月11日(中国台湾)</p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">日语、普通话、英语</p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空&孙悟饭&孙悟天：<a class="Act">野泽雅子</a><br>
                                                布尔玛：<a class="Act">鹤弘美</a><br>
                                                克林：<a class="Act">田中真弓</a><br>
                                                龟仙人：<a class="Act">宫内幸平</a><br>
                                                雅木茶：<a class="Act">古谷彻</a>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t2" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠：摩诃不可思议大冒险</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    小悟空和库林在龟仙人的指导下展开常人无法想象的艰苦训练，他们也得到回报，武功突飞猛进。为了验证本领，龟仙人决定带他们前往米饭帝国参加武道大会。米饭帝国是一个强大的国度，皇上饺子天真无邪，却受到邪恶的鹤仙人及其弟弟桃白白控制。为实现野心，鹤仙人绑架皇帝的爱妻，谎称可以呼唤神龙来实现愿望，实则为乐实现自己的野心。米饭帝国倾一国之力四处寻找龙珠，致使民不聊生。另一方面，布尔玛等人寻找龙珠过程中遭到米饭帝国军队袭击。各方势力为了龙珠而汇集到米饭帝国的首都，正邪大战在所难免……
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/摩诃不可思议大冒险_3.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">摩诃不可思议大冒险</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">ドラゴンボール　魔訶不思議大冒険</p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">1988年7月9日（日本）</p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">竹之内和久</p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">46分钟</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">1988年7月9日（日本）；1988年12月9日（中国台湾）</p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">日语、普通话、英语、粤语</p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空&孙悟饭&孙悟天：<a class="Act">野泽雅子</a><br>
                                                布尔玛：<a class="Act">鹤弘美</a><br>
                                                克林：<a class="Act">田中真弓</a>
                                                雅木茶：<a class="Act">古谷撤</a><br>
                                                龟仙人：<a class="Act">宫内幸平</a><br>
                                                桃白白：<a class="Act">大冢周夫</a><br>
                                                鹤仙人：<a class="Act">永井一郎</a><br>
                                                天津饭：<a class="Act">铃置洋孝</a>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t3" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠Z：把我的悟饭还来！！卡里克二世</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    第23届比武大会结束后，孙悟空将世界从比克大魔王的手中拯救出来。数年后的一天，满怀怨恨的比克发誓打败孙悟空，此时却突然遭到一群不明身份敌人的袭击，这一事件让神殿中的神倍为焦虑。此后不久，正享受快乐田园生活的悟空一家也遭到怪人的突袭，不仅四星龙珠被抢走，连年幼的悟饭也遭到绑架。这一切的始作俑者名叫卡利克二世，三百年前他的父亲竞争神的宝座失败，而今解除封印的二世企图通过神龙实现长生不老的愿望，将全世界纳入他黑暗的恐怖统治之下。感受到悟饭身体内蕴藏的惊人力量，卡利克决定将其培养成自己的手下。悟空会坐视这一幕的发生吗？
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/把我的悟饭还来！！卡里克二世_4.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">把我的悟饭还来！！卡里克二世</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">ドラゴンボール  私の悟饭を返せ! !カーク2世</p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">1989-07-15(日本)</p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">尾大介</p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">44 分钟 / Japan: 50 分钟 / USA: 41 分钟(TV version) / USA: 45 分钟</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">1989-07-15(日本)</p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">英语 / 日语</p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空&孙悟饭&孙悟天：<a class="Act">野泽雅子</a><br>
                                                克林：<a class="Act">田中真弓</a><br>
                                                比克：<a class="Act">古川登志夫</a><br>
                                                神仙：<a class="Act">青野武</a><br>
                                                卡里克二世：<a class="Act">神谷明</a>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t4" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠Z：世界最强的高手</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    趁布尔玛和龟仙人不注意，色色的乌龙偷出龙珠探测器，与悟饭（野泽雅子 配音）前往寒冷的兹鲁麦普雪山寻找聚在一起的龙珠。此时此刻，邪气逼人的克勤博士早已捷足先登召唤神龙，许愿将沉睡在冰原下的威洛博士苏醒。伴随着巨大的响动，硕大神秘的建筑出现冰原，另有奇怪凶猛的生物接连袭击悟饭等人，关键时刻比克大魔王出现拯救悟饭，而比克却下落不明。未过多久，威洛博士的爪牙相继向龟仙人袭来。原来五十年前他以天才科学家的盛名为世人熟知，但其才能却遭到埋没。而今复活后他仅有大脑存在，为了实现向人类复仇的野望，威洛博士急需拥有世上最强者的身体……
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/世界最强的高手_5.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">世界最强的高手</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">ドラゴンボールZ この世で一番強いヤツ </p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">1990-03-10</p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">西尾大介</p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">61 分钟 / USA: 58 分钟(cut version)</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">1990-03-10</p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">英语 / 日语</p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空&孙悟饭&孙悟天：<a class="Act">野泽雅子</a><br>
                                                克林：<a class="Act">田中真弓</a><br>
                                                比克：<a class="Act">古川登志夫</a><br>
                                                乌龙：<a class="Act">龙田直树</a><br>
                                                克勤博士：<a class="Act">矢田耕司</a><br>
                                                威洛博士：<a class="Act">中田浩二</a>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t5" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠Z：地球争霸超决战</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    在一个阳光明媚的日子里，库林、乌龙、布尔玛、孙悟饭（野泽雅子 饰）相约去山里野营。夜深人静，一枚来自外太空的飞行器引发森林大火。克林和悟饭用气吹散大火，并集结七颗龙珠召唤神龙，将被火焚毁的森林恢复原状。悟饭还认识了新朋友快速龙。未过多久，新的敌人向地球逼近，他是与悟空长相极其相似的邪恶赛亚人达列斯。达列斯带着爪牙在宇宙中流浪，到处寻找适合种植神精树的星球。神精树的果实可以成倍提高一个人的战斗力，但这种树也会将该星球的生命力全部吸收耗尽。为了阻止达列斯的阴谋，拯救赖以生存的美丽地球，Z战士团结一致，迎战敌人……
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/地球争霸超决战_6.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">地球争霸超决战</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">ドラゴンボールZ 地球まるごと超決戦</p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">1990-07-07</p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">西尾大介</p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">61分钟</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">1990-07-07</p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">英语 / 日语 / 德语</p>
                                        </li>
                                        <li>
                                            <p class="name">类型</p>
                                            <p class="value">动作 / 动画 / 冒险</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空&孙悟饭：<a class="Act">野泽雅子</a><br>
                                                克林：<a class="Act">田中真弓</a><br>
                                                比克：<a class="Act">古川登志夫</a><br>
                                                乌龙：<a class="Act">龙田直树</a><br>
                                                达列斯：<a class="Act">野泽雅子</a><br>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t6" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠Z：超级赛亚人孙悟空</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    在一个平静的日子，一股充满邪恶气息的小星球向地球逼近。人们惶恐不安，唯恐行星撞上地球。孙悟空和克林联手向行星发出龟派气功，却起不到任何作用。行星与地球擦肩而过，却也造成巨大的灾难。这时，一艘巨大的宇宙飞船降临大地，来者自称史拉格大王，他声称要将地球纳入自己的统治范围，并将地球改造成一艘宇宙飞船。史拉格是一个那美克星人，由于自幼被恶魔收养，他的灵魂中充满了罪恶，完全没有那美克星人善良的本性存在。凭借神龙的帮助，苍老的史拉格恢复青春活力，魔力空前高涨。为了阻止史拉格的罪恶计划，Z战士和史拉格军团展开连番恶战……
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/超级赛亚人孙悟空_7.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">龙珠Z：超级赛亚人孙悟空</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">ドラゴンボールZ 超サイヤ人だ孫悟空 </p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">1991-03-19 </p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">橋本光雄 </p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">53分钟 </p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">1991-03-19</p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">日语/英语 </p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空&孙悟饭：<a class="Act">野泽雅子</a><br>
                                                克林：<a class="Act">田中真弓</a><br>
                                                比克：<a class="Act">古川登志夫</a><br>
                                                史拉格：<a class="Act">内海贤二</a><br>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t7" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠Z：超越极限最强对最强</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    那美克星一役，宇宙帝王弗利萨（中尾隆圣 配音）及其军团彻底覆灭，孙悟空（野泽雅子 配音）也在愤怒的驱使下变身成为超级赛亚人，开创了Z战士的新时代。历经千辛万苦，他们重返故乡地球。然而和平的生活并未持续多久，新的危机突然降临。弗利萨的落败，引起了他的哥哥古拉（中尾隆圣 配音）的注意。这个比弟弟更为邪恶且蕴藏着更大野心的恶棍，率领手下逼近地球。那美克星的恩怨仍在延续，战火烧到了地球。<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp;为了保护故乡和亲友，Z战士们再次集结，与新的敌人展开殊死壮绝的战斗。最强对最强，生存之战拉开序幕……
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/超越极限最强对最强_8.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">龙珠Z：超越极限最强对最强</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">ドラゴンボールZ とびっきりの最強対最強</p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">1991-07-20</p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">橋本光夫 </p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">48分钟</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">1991-07-20(日本) </p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">英语/日语</p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空&孙悟饭&巴达克：<a class="Act">野泽雅子</a><br>
                                                小林：<a class="Act">田中真弓</a><br>
                                                龟仙人：<a class="Act">宫内幸平</a><br>
                                                琪琪：<a class="Act">渡辺菜生子</a><br>
                                                比克：<a class="Act">古川登志夫</a><br>
                                                弗利萨：<a class="Act">中尾隆圣</a><br>
                                                古拉：<a class="Act">中尾隆圣</a><br>
                                                沙维扎：<a class="Act">速水奖</a><br>
                                                德雷：<a class="Act">佐藤正治</a><br>
                                                内兹：<a class="Act">平野正人</a><br>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t8" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠Z：激突!!100亿能量战士</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    凭借Z战士和神龙的帮助，那美克星人来到新的星球居住，生活平淡安康。但就在某天，一颗充满不祥气息的金属星球来至新那美克星上空，如同怪物一般要吞掉这颗绿色的和平星球，那美克星人再度面临灭亡的危机。感应到家乡的危难，身为地球之神的丹迪拜托孙悟空拯救族人，Z战士一行乘坐飞船共同前往新那美克星。操纵金属星球的原来是古拉，虽然当初被孙悟空打败，但凭借比克斯达星高科技的帮助而再度复活，并化身为金属古拉，实力较之以往不知胜却多少倍。最为恐怖的宿敌重现人间，一场恶战在所难免……
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/激突！！100亿能量战士_9.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">龙珠Z：激突!!100亿能量战士</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">激突!! 100億能量的戰士們</p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">1992-03-07</p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">西尾大介</p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">46分钟</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">1992-03-07</p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">日语 / 西班牙语 / 德语 / 英语</p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空&孙悟饭&巴达克：<a class="Act">野泽雅子</a><br>
                                                小林：<a class="Act">田中真弓</a><br>
                                                琪琪：<a class="Act">渡辺菜生子</a><br>
                                                比克：<a class="Act">古川登志夫</a><br>
                                                古拉：<a class="Act">中尾隆圣</a><br>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t9" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠Z：极限之战!!三大超级赛亚人</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    孙悟饭开学在即，琪琪强拖着悟空父子来到闹市区购买衣服。惧内的悟空对琪琪这个兄巴巴的购物狂无计可施，只能任其摆布。正当一家三口共进午餐之时，城市街道接连发生爆炸事件。悟空前往查看，发现肇事者是两个长相怪异之人。他们就是邪恶科学家格罗博士制造的人造人14号、15号，两个邪恶家伙与悟空以及随即赶来的未来特兰克斯大打出手。为避免殃及无辜，他们将战场转移至无人荒原。<br>
                                    &nbsp; &nbsp;经过一番缠斗，14号、15号被消灭，但是接下来出场的13号吸收了两个同伴的芯片，变身为强大无比的对手。悟空、未来特兰克斯、贝吉塔、比克以及库林联手也无法打败13号。地球危在旦夕，Z战士该如何克服难关？
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/极限之战！！三大超级赛亚人_10.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">龙珠Z：极限之战!!三大超级赛亚人</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">ドラゴンボール Z 劇場版：極限バトル!! 三大超サイヤ人</p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">1992-07-11</p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">菊池一仁 / 鳥山　明</p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">46分钟</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">1992-07-11</p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">日语</p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空：<a class="Act">野泽雅子</a><br>
                                                人造人13号：<a class="Act">曾我部和恭</a><br>
                                                人造人14号：<a class="Act">江川央生</a><br>
                                                人造人15号：<a class="Act">小林俊夫</a><br>
                                                贝吉塔：<a class="Act">崛川亮</a><br>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t10" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠Z：燃烧殆尽吧!!热战·烈战·超激战</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    赛亚人余党帕拉格斯带着他的儿子布罗利大肆破坏南银河，最终父子二人降临地球，请求贝吉塔登基成为新贝吉塔行星的国王。利令智昏的贝吉塔相信了他的请求，为了建立宇宙最强大的帝国，他随帕拉格斯父子前往新贝吉塔行星。对此疑窦丛生的特兰克斯、悟饭等人为探明真相，随之前往，最终发现帕拉格斯欲借贝吉塔的力量统治宇宙的野心。一场大战在所难免。然而令Z战士始料未及的是，外表瘦小软弱的布罗利体内竟隐藏着极为强大的力量。他所变身的超级赛亚人成为了每一个Z战士的噩梦。银河系危在旦夕……
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/燃烧殆尽吧！！热战·烈战·超激战_11.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">龙珠Z：燃烧殆尽吧!!热战·烈战·超激战</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">ドラゴンボール Z 劇場版： 燃えつきろ !!熱戦・烈戦・超激戦</p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">1993-03-06</p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value"> 山内重保</p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">72分钟</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">1993-03-06</p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">日语</p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空：<a class="Act">野泽雅子</a><br>
                                                小林：<a class="Act">田中真弓</a><br>
                                                琪琪：<a class="Act">渡辺菜生子</a><br>
                                                乌龙：<a class="Act">龙田直树</a><br>
                                                北界王：<a class="Act">八奈见乘儿</a><br>
                                                贝吉塔：<a class="Act">崛川亮</a><br>
                                                特南克斯：<a class="Act">草尾毅（未来）、鹤弘美（婴儿时期）</a><br>
                                                贝吉塔王：<a class="Act">佐藤正治</a><br>
                                                帕拉伽斯：<a class="Act">家弓家正</a><br>
                                                布罗利：<a class="Act">江森浩子（婴儿期）、岛田敏（成年期）</a><br>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t11" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠Z：银河面临危机!! 身手不凡的高手</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    人造人之王沙鲁战役过后，地球终于迎来了宝贵的和平，而骗子撒旦作为拯救了世界的英雄受到全人类的爱戴。世界首富钱多多为了给宝贝儿子庆生，出巨资举行了新一届的天下第一比武大会，成功晋级的选手有望和钱多多请来的四名所谓的外星人对决，最终获胜者还可以得到挑战撒旦的殊荣。此外，胜利者将得到一亿元奖金和环游世界的机会。超高的荣誉和报酬，连Z战士也坐不住了，纷纷报名参加。当然悟饭（野泽雅子 饰）、特兰克斯等人的出现，让撒旦心惊胆颤。一番较量过后，悟饭等人顺利晋级，但是等待他们的却是无比凶残和强大的宇宙人。意想不到的敌人，地球新的危机出现……
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/银河面临危机!!身手不凡的高手_12.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">龙珠Z：银河面临危机!! 身手不凡的高手</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">ドラゴンボール Z 劇場版：銀河ギリギリ!! ぶっちぎりの凄い奴 </p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">1993-07-10 </p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">上田芳裕</p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">51分钟</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">1993-07-10 </p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">日语</p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空：<a class="Act">野泽雅子</a><br>
                                                小林：<a class="Act">田中真弓</a><br>
                                                天津饭：<a class="Act">铃置洋孝</a><br>
                                                撒旦先生：<a class="Act">乡里大辅</a><br>
                                                龟仙人：<a class="Act">宫内幸平</a><br>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t12" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠Z：危险的两人!超战士无法安眠</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    与孙悟空和贝吉塔等Z战士的一役结束，伤痕累累的布洛迪乘球星飞船追踪来至地球，却因伤势过重昏迷过去，被冰封于山谷之中。<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp;许多年过去，老一辈Z战士开始退居幕后，悟天、特兰克斯和比迪丽寻找散落各地的龙珠。三人路过一个山村，这里连年遭受天灾，村民认为惹恼了山中的恶魔，于是希望献上童女高高以平息恶魔的诅咒。悟天等人为救高高，答应帮村民除掉恶魔，却撞见了从沉睡中苏醒的布罗利。一场大战在所难免……
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/危险的两人！超战士安眠_13.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">龙珠Z：危险的两人!超战士无法安眠</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">ドラゴンボールZ 危険なふたり!超戦士はねむれない</p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">1994年3月12日</p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">山内重保</p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">53分钟</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">1994年3月12日</p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">日语</p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空：<a class="Act">野泽雅子</a><br>
                                                小林：<a class="Act">田中真弓</a><br>
                                                琪琪：<a class="Act">渡辺菜生子</a><br>
                                                乌龙：<a class="Act">龙田直树</a><br>
                                                贝吉塔：<a class="Act">崛川亮</a><br>
                                                特南克斯：<a class="Act">鹤弘美</a><br>
                                                龟仙人：<a class="Act">宫内幸平</a><br>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t13" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠Z：超战士击破!!胜利非我莫属</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    撒旦虽然赢得天下第一比武大会的冠军，却也惹得瘟神上门。18号时不时上门催讨撒旦许诺的两千万元，令这个虚名英雄不厌其烦。这一天，一个西装革履的男子但这挑战书上门，唯恐儿时尿床的丑闻公告世人，撒旦被迫接受挑战，随着个男人来到了位于大海中央的小岛之城——米克因城。除了18号紧紧跟随外，悟天和特兰克斯也偷偷尾随而至。米克因城的主人是加雅·巴答男爵。为了报儿时撒旦欺负自己的仇恨，他聘请众多优秀的科学家通过基因重组制造出实力强大恐怖的生化战士，其中就包括悟天和特兰克斯的宿敌布罗利。战斗开始朝着不可预测的方向发展……
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/超战士击破！！胜利非我莫属_14.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">龙珠Z：超战士击破!!胜利非我莫属</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">ドラゴンボール Z 劇場版 超戦士撃破!! 勝つのはオレだ</p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">1994-07-09</p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">上田芳裕</p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">46分钟</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">1994-07-09</p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">日语</p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟饭：<a class="Act">野泽雅子</a><br>
                                                特南克斯：<a class="Act">鹤弘美</a><br>
                                                撒旦先生：<a class="Act">乡里大辅</a><br>
                                                布罗利：<a class="Act">江森浩子（婴儿期）、岛田敏（成年）</a><br>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t14" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠Z：复活的融合!!悟空与贝吉塔</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    北银河正在举行冥界第一武术大会，孙悟空和来自西银河的排骨饭热战正酣。就在这时，冥界却出了乱子。阎王殿中，一名一心玩乐的小鬼不慎碰坏灵魂清洗装置，导致所有的邪气外泄，进而引发冥界巨大混乱。阎王被困在结界中不得动弹，而人间也受到影响，一时间鬼怪横行，连死去很久的弗利萨军团也再次复活。正在对决的悟空和排骨饭感知到冥界的变化，于是中断比赛前去为阎王解围。他们遇到一个胖乎乎却拥有强大实力和怨念的怪物，即使数度变身的孙悟空也奈何它不得。正在危难时刻，早已堕入地狱的贝吉塔及时赶来，最强的龙珠战士再次聚首……
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/复活的融合！！悟空与贝吉塔_15.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">龙珠Z：复活的融合!!悟空与贝吉塔</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">ドラゴンボール Z 劇場版： 復活のフュージョン!! 悟空とベジータ</p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">1995-03-04</p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">山内重保</p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">50分钟</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">1995-03-04</p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">日语</p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空&孙悟饭&孙悟天：<a class="Act">野泽雅子</a><br>
                                                贝吉塔：<a class="Act">崛川亮</a><br>
                                                特兰克斯：<a class="Act">草尾毅</a><br>
                                                界王：<a class="Act">八奈见乘儿</a><br>
                                                弗利萨：<a class="Act">中尾隆圣</a><br>
                                                撒旦先生：<a class="Act">乡里大辅</a><br>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t15" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠Z：龙拳爆发!!悟空舍我其谁</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    晴朗的一天，悟饭和比迪丽正在教室上课，这是接到一条求助信息。原来有个老头准备跳楼自杀，他们连忙化身赛亚超人前去营救。从这个奇怪的老头口中，他们得知距今一千五百年前，南银河科纳兹星球曾有一名超级英雄塔皮欧，后来不知何种原因被困在音乐盒中。为防止即将到来的大灾难，孙悟空父子在老头的请求下召唤了神龙，终于救出塔皮欧，却发现塔皮欧并不领情，而老头似乎又隐藏着某种阴谋。此后不久，一个邪恶的怪物出现在都市之中，它只有下半截身体，上半截则被封印在塔皮欧的体内。一切昭然若显，Z战士则面临巨大的危机……
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/龙拳爆发！！悟空舍我其谁_16.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">龙珠Z：龙拳爆发!!悟空舍我其谁</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">劇場版：龍拳爆発!! 悟空がやらねば誰がやる</p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">1995-07-15</p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">桥本光夫</p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">52 分钟 / Germany: 49 分钟</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">1995-07-15</p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">日语</p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空&孙悟饭：<a class="Act">野泽雅子</a><br>
                                                比迪丽：<a class="Act">皆口裕子</a><br>
                                                塔皮恩：<a class="Act">结城比吕 </a><br>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t16" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠：迈向最强之道</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    在杳无人迹的包子山中，生活着一个无忧无虑、天真纯洁的男孩，名叫孙悟空。他自幼和爷爷孙悟饭相依为命，并习得一身武功。某天，他遭遇来自大城市的时尚女孩布玛。布玛正在四处寻找龙珠，传说将7颗龙珠凑齐后便可召唤出身龙，继而实现心中的愿望。在布玛的怂恿下，小悟空随其走出深山，一路上遭遇了乌龙、亚姆查、普尔、龟仙人等伙伴。与此同时，实力强大的红缎带军也在四处寻找龙珠，为达目的他们不惜烧杀抢掠。为了龙珠，小悟空一方与红缎带军不可避免发生冲突。连番恶战旋即展开，而浩浩荡荡的龙珠传奇也就此拉开序幕……
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/迈向最强之道_17.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">龙珠：迈向最强之道</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">ドラゴンボール劇場版： 最強への道</p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">1996-03-02</p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">山内重保</p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">52分钟</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">1996-03-02</p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">日语</p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空：<a class="Act">野泽雅子</a><br>
                                                布尔玛：<a class="Act">鹤ひろみ</a><br>
                                                乌龙：<a class="Act">龙田直树</a><br>
                                                乐平：<a class="Act">古谷彻</a><br>
                                                龟仙人：<a class="Act">爱川钦也</a><br>
                                                人造人8号：<a class="Act">饭冢昭三</a><br>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t17" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠Z：神与神</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    在宇宙的神秘角落，令界王神都闻风丧胆的可怕神明悠悠苏醒。他是破坏之神比鲁斯，漫长的39年沉睡中，比鲁斯梦见与传说中的赛亚人之神对决，而弗利萨被消灭的消息也引起了他对赛亚人的兴趣。为此，他和随从维斯来到了界王星，寻找打败弗利萨的孙悟空。孙君不顾界王的劝阻，斗胆向比鲁斯发起挑战，结果遭遇实力悬殊的惨败。为求赛亚人之神的真相，比鲁斯再度造访地球。此时Z战士们正齐聚西部城市为布玛庆生，派对上的美味食物引起比鲁斯和维斯的极大兴趣。事先知情的贝吉塔（小心应付，以防破坏之神毁灭地球，但是意外与战斗还是不可避免地发生了……
                                    <br>传说中的赛亚人之神是否真的存在？地球的命运将会如何？
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/神与神_18.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">龙珠Z：神与神</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">ドラゴンボールZ 神と神</p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">2013-03-30</p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">细田雅弘</p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">85分钟 / 105分钟(加长版)</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">2013-03-30</p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">日语</p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空&孙悟饭&孙悟天：<a class="Act">野泽雅子</a><br>
                                                貝吉塔：<a class="Act">堀川亮</a><br>
                                                比克：<a class="Act">古川登志夫</a><br>
                                                小林：<a class="Act">田中真弓</a><br>
                                                人造人18号：<a class="Act">伊藤美纪</a><br>
                                                天津饭：<a class="Act">绿川光</a><br>
                                                破壊神比鲁斯：<a class="Act">山寺宏一</a><br>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t18" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠Z：复活的F</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    许多年前，宇宙最大魔王弗利萨接连败在超级赛亚人之手，他的残党欲孽则流浪宇宙之中寻找那美克星人的新定居点，以期将弗利萨再度复活。几经周折，军队代理索尔贝利用地球的龙珠把弗利萨带回人间，而这个刚刚复活不久的魔王很快展开了他的复仇计划。半年之后，浩浩荡荡的弗利萨大军降临地球，悟饭、比克大魔王、库林、天津饭、武天老师挺身而出，而孙悟空和贝吉塔则正跟随维斯在遥远的宇宙深处接受试炼。
                                    <br>危机时刻，地球被入侵的消息终于传到维斯和比鲁斯 那里，悟空、贝吉塔即将与他们宿命中的冤家再度展开对决
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/复活的弗利萨_19.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">龙珠Z：复活的F</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">ドラゴンボールZ 復活のF</p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">2015-04-18</p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">山室直儀</p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">94分钟</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">2016-10-21(中国大陆) / 2015-04-18(日本)</p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">日语</p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空&孙悟饭：<a class="Act">野泽雅子</a><br>
                                                貝吉塔：<a class="Act">堀川亮</a><br>
                                                比克：<a class="Act">古川登志夫</a><br>
                                                小林：<a class="Act">田中真弓</a><br>
                                                人造人18号：<a class="Act">伊藤美纪</a><br>
                                                天津饭：<a class="Act">绿川光</a><br>
                                                破壊神比鲁斯：<a class="Act">山寺宏一</a><br>
                                                弗利萨：<a class="Act">中尾隆圣</a><br>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                        <div class="t19" style="display: none">
                            <section class="t_Paragraph">
                                <b>龙珠超：布罗利</b><a class="Click_Play" href="">点击播放</a>
                                <p class="FirstP">
                                    故事将围绕宇宙最强战斗民族赛亚人的原点展开，悟空、贝吉塔和布罗利的战斗即将爆发。
                                </p>
                                <img src="/ALL_IMAGE/LiuBoWen/Movies/龙珠超：布罗利_20.jpg" class="t_Img">
                                <section class="basic_info">
                                    <span class="basic"><h2>基本信息</h2></span>
                                    <ul class="left_info">
                                        <li>
                                            <p class="name">中文名</p>
                                            <p class="value">龙珠超：布罗利</p>
                                        </li>
                                        <li>
                                            <p class="name">外文名</p>
                                            <p class="value">ドラゴンボール超 ブロリー</p>
                                        </li>
                                        <li>
                                            <p class="name">出品时间</p>
                                            <p class="value">2018-12-14(日本)</p>
                                        </li>
                                        <li>
                                            <p class="name">制片地区</p>
                                            <p class="value">日本</p>
                                        </li>
                                        <li>
                                            <p class="name">导演</p>
                                            <p class="value">长峰达也</p>
                                        </li>
                                    </ul>
                                    <ul class="right_info">
                                        <li>
                                            <p class="name">片长</p>
                                            <p class="value">120分钟</p>
                                        </li>
                                        <li>
                                            <p class="name">上映时间</p>
                                            <p class="value">2018-12-14(日本)</p>
                                        </li>
                                        <li>
                                            <p class="name">语言</p>
                                            <p class="value">日语</p>
                                        </li>
                                        <li>
                                            <p class="name">色彩</p>
                                            <p class="value">彩色</p>
                                        </li>
                                        <li>
                                            <p class="name">声优</p>
                                            <p class="value">
                                                孙悟空：<a class="Act">野泽雅子</a><br>
                                                貝吉塔：<a class="Act">堀川亮</a><br>
                                                布尔玛：<a class="Act">久川绫</a><br>
                                                小林：<a class="Act">田中真弓</a><br>
                                                布罗利：<a class="Act">岛田敏、森下由树子（幼少期）</a><br>
                                                天津饭：<a class="Act">绿川光</a><br>
                                                破壊神比鲁斯：<a class="Act">山寺宏一</a><br>
                                                弗利萨：<a class="Act">中尾隆圣</a><br>
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar">
            <iframe class="iframe" src="/Shared/LiuBoWen_Iframe"></iframe>
        </div>
    </div>
    <div id="footer">
    </div>
</body>
</html>