<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ドラゴンボール</title>
    <link rel="stylesheet" href="~/Content/LiuBoWen/dragonball.css">
    <script>
        function Change(Object) {
            if(document.getElementById("第一部")==Object)
            {
                document.getElementById("First").style.display = "block";
                document.getElementById("mainbody_blues_PartOne").style.display = "block";
                document.getElementById("Second").style.display = "none";
                document.getElementById("mainbody_blues_PartTwo").style.display = "none";
                document.getElementById("Third").style.display = "none";
                document.getElementById("mainbody_blues_PartThree").style.display = "none";
            }
            else if (document.getElementById("第二部")==Object)
            {
                document.getElementById("First").style.display = "none";
                document.getElementById("mainbody_blues_PartOne").style.display = "none";
                document.getElementById("Second").style.display = "block";
                document.getElementById("mainbody_blues_PartTwo").style.display = "block";
                document.getElementById("Third").style.display = "none";
                document.getElementById("mainbody_blues_PartThree").style.display = "none";
            }
            else if (document.getElementById("第三部")==Object)
            {
                document.getElementById("First").style.display = "none";
                document.getElementById("mainbody_blues_PartOne").style.display = "none";
                document.getElementById("Second").style.display = "none";
                document.getElementById("mainbody_blues_PartTwo").style.display = "none";
                document.getElementById("Third").style.display = "block";
                document.getElementById("mainbody_blues_PartThree").style.display = "block";
            }
        }
        function Spread1() {
            if(document.getElementById("unvisible").style.display == "block")
            {
                document.getElementById("unvisible").style.display = "none";
            }
            else
            {
                document.getElementById("unvisible").style.display = "block";
            }
        }
    </script>
</head>
<body>
    <div id="header"><img src="~/ALL_IMAGE/LiuBoWen/DragonBall_MainPage/ドラゴンボール.gif" /></div>
    <div id="container">
        <div id="main">
            <div class="nav">
                <ul class="nav_main">
                    <li><a href="/Shared/LiuBoWen_dragonball" class="龙珠系列">龙珠</a></li>
                    <li><a href="/Shared/LiuBoWen_Movies" class="龙珠">龙珠剧场版</a></li>
                    <li><a href="/Shared/LiuBoWen_CharacterBrief" class="龙珠">人物介绍</a></li>
                </ul>
            </div>
            <div class="mainbody">
                <div id="First" style="display:block;">
                    <div id="First_header">
                        <h3 class="First_name_red">龙珠</h3><h3 class="First_name_black">第一部</h3>
                    </div>
                    <div id="First_container">
                        <div id="First_main">
                            <div class="First_nav">
                                <img src="~/ALL_IMAGE/LiuBoWen/DragonBall_MainPage/龙珠第一部.jpg">
                            </div>
                            <div class="First_mainbody">
                                <section class="First_PartOne">
                                    <div><p class="First_PartOne_over">已完结</p><p class="First_PartOne_video">共153集</p></div>
                                </section>
                                <section class="First_PartTwo">
                                    <div>
                                        <p class="First_PartTwo_time">1986</p>
                                        <p class="First_PartTwo_span">|</p>
                                        <p class="First_PartTwo_language">日语</p>
                                    </div>
                                </section>
                                <section class="First_PartThree">
                                    <div>
                                        <p class="First_PartThree_brief">简介：</p>
                                        <p class="First_PartThree_contain">
                                            故事世界中有七颗名为"龙珠"的物件,每颗龙珠各自有一至七颗不等的五角星标记并散布于世界各地,只要集齐七颗龙珠就可以呼唤出神龙,向神龙许愿便可以达…
                                            <a href="http://www.iqiyi.com/a_19rrhb1b0h.html?vfm=2008_aldbd" target="_blank">更多>></a>
                                        </p>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Second" style="display: none">
                    <div id="Second_header">
                        <h3 class="Second_name_red">龙珠<h3 class="Second_name_black">第二部</h3></h3>
                    </div>
                    <div id="Second_container">
                        <div id="Second_main">
                            <div class="Second_nav">
                                <img src="~/ALL_IMAGE/LiuBoWen/DragonBall_MainPage/龙珠第二部.jpg">
                            </div>
                            <div class="Second_mainbody">
                                <section class="Second_PartOne">
                                    <div><p class="Second_PartOne_over">已完结</p><p class="Second_PartOne_video">共291集</p></div>
                                </section>
                                <section class="Second_PartTwo">
                                    <div>
                                        <p class="Second_PartTwo_time">1989</p>
                                        <p class="Second_PartTwo_span">|</p>
                                        <p class="Second_PartTwo_language">日语</p>
                                    </div>
                                </section>
                                <section class="Second_PartThree">
                                    <div>
                                        <p class="Second_PartThree_brief">简介：</p>
                                        <p class="Second_PartThree_contain">
                                            许多年过去，地球在Z战士的包围下日渐和平与繁荣。某天，皮拉夫大王和他的爪牙历经千辛万苦来到神殿，找到了神仙与比克大魔王分身前制造的黑星龙珠。…
                                            <a href="http://www.iqiyi.com/a_19rrhb1b0h.html?vfm=2008_aldbd" target="_blank">更多>></a>
                                        </p>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div id="Second_footer"></div>
                    </div>
                </div>
                <div id="Third" style="display: none;">
                    <div id="Third_header">
                        <h3 class="Third_name_red">龙珠<h3 class="Third_name_black">第三部</h3></h3>
                    </div>
                    <div id="Third_container">
                        <div id="Third_main">
                            <div class="Third_nav">
                                <img src="~/ALL_IMAGE/LiuBoWen/DragonBall_MainPage/龙珠第三部.jpg">
                            </div>
                            <div class="Third_mainbody">
                                <section class="Third_PartOne">
                                    <div><p class="Third_PartOne_over">已完结</p><p class="Third_PartOne_video">共64集</p></div>
                                </section>
                                <section class="Third_PartTwo">
                                    <div>
                                        <p class="Third_PartTwo_time">1996</p>
                                        <p class="Third_PartTwo_span">|</p>
                                        <p class="Third_PartTwo_language">日语</p>
                                    </div>
                                </section>
                                <section class="Third_PartThree">
                                    <div>
                                        <p class="Third_PartThree_brief">简介：</p>
                                        <p class="Third_PartThree_contain">
                                            第一部分是悟空被黑星龙珠变小，和特兰克斯与小芳（悟空的孙女，翻译为阿包）以及雷达机器人吉鲁一起寻找飞散到宇宙里的黑星龙珠的故事，在外面他们…
                                            <a href="http://www.iqiyi.com/a_19rrhb1b0h.html?vfm=2008_aldbd" target="_blank">更多>></a>
                                        </p>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div id="Third_footer"></div>
                    </div>
                </div>
                <div id="mainbody_series">
                    <section id="mainbody_series_PartOne">
                        <div>
                            <ol class="mainbody_series_PartOne_Three">
                                <li><input type="button" id="第一部" class="第一部" value="第一部" onclick="Change(this)"></li>
                                <li><input type="button" id="第二部" class="第二部" value="第二部" onclick="Change(this)"></li>
                                <li><input type="button" id="第三部" class="第三部" value="第三部" onclick="Change(this)"></li>
                            </ol>
                        </div>
                    </section>
                </div>
                <div id="mainbody_blues">
                    <section id="mainbody_blues_PartOne" style="display: block">
                        <table>
                            <th class="mainbody_blues_PartOne_1-7">
                                <ol>
                                    <li><a href="https://www.iqiyi.com/v_19rroo8z7w.html?vfm=2008_aldbd" target="_blank">1集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo8z4s.html?vfm=2008_aldbd" target="_blank">2集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo8yg4.html?vfm=2008_aldbd" target="_blank">3集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo91is.html?vfm=2008_aldbd" target="_blank">4集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo9140.html?vfm=2008_aldbd" target="_blank">5集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo908s.html?vfm=2008_aldbd" target="_blank">6集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo92ng.html?vfm=2008_aldbd" target="_blank">7集</a></li>
                                </ol>
                            </th>
                        </table>
                    </section>
                    <section id="mainbody_blues_PartTwo" style="display: none">
                        <table>
                            <th class="mainbody_blues_PartTwo_1-7">
                                <ol>
                                    <li><a href="https://www.iqiyi.com/v_19rroo8z7w.html?vfm=2008_aldbd" target="_blank">第1集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo8z4s.html?vfm=2008_aldbd" target="_blank">第2集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo8yg4.html?vfm=2008_aldbd" target="_blank">第3集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo91is.html?vfm=2008_aldbd" target="_blank">第4集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo9140.html?vfm=2008_aldbd" target="_blank">第5集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo908s.html?vfm=2008_aldbd" target="_blank">第6集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo92ng.html?vfm=2008_aldbd" target="_blank">第7集</a></li>
                                </ol>
                            </th>
                        </table>
                    </section>
                    <section id="mainbody_blues_PartThree" style="display: none">
                        <table>
                            <th class="mainbody_blues_PartThree_1-7">
                                <ol>
                                    <li><a href="https://www.iqiyi.com/v_19rroo8z7w.html?vfm=2008_aldbd" target="_blank">1集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo8z4s.html?vfm=2008_aldbd" target="_blank">2集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo8yg4.html?vfm=2008_aldbd" target="_blank">3集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo91is.html?vfm=2008_aldbd" target="_blank">4集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo9140.html?vfm=2008_aldbd" target="_blank">5集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo908s.html?vfm=2008_aldbd" target="_blank">6集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo92ng.html?vfm=2008_aldbd" target="_blank">7集</a></li>
                                    <li><a href="https://www.iqiyi.com/v_19rroo92ng.html?vfm=2008_aldbd" target="_blank">8集</a></li>
                                </ol>
                            </th>
                        </table>
                    </section>
                </div>
                <div id="mainbody_plot">
                    <div><h2>剧情介绍</h2></div>
                    <div class="blues">
                        <p>第1集 初遇！布尔玛与孙悟空！</p>
                        <blockquote>
                            布尔玛与悟空，孙悟空生活在远离城市的包子山中， 整天过着习武打猎
                            的生活，有一天，孙悟空被一个女孩子开的汽车撞倒， 这个女孩叫做布尔玛，从
                            此为悟空打开了通向寻找龙珠的路程。
                        </blockquote>
                        <p>第2集 哎呀呀！布尔玛没有尾巴！！</p>
                        <blockquote>
                            悟空与布玛一起去寻找龙珠，太阳下山了，布玛用万能胶囊变出了一座漂亮的房子，
                            这让悟空感到非常的奇怪。布玛在给悟空洗澡的时候，发现悟空竟然长着一条长长的尾巴。
                        </blockquote>
                        <p>第3集 前往大海！龟仙人的筋斗云</p>
                        <blockquote>
                            悟空在寻找龙珠的路上，碰上了一只海龟。为了帮助海龟回归大海， 悟空背着海
                            龟向大海跑去。 可是在半路上突然出现了一只怪兽，
                            它说要吃掉海龟，经过搏斗，怪兽被悟空打倒了。到达大海后，海龟说要给悟空一个礼物，
                            随后，龟仙人登场，送给了悟空筋斗云。
                        </blockquote>
                        <p>第4集 神秘的村庄！抢人的妖怪！</p>
                        <blockquote>
                            布玛与悟空根据龙珠雷达的指示，来到了一个村子。 村子里虽然有很多房子
                            ，但他们却一个人也找不到。悟空很奇怪，于是走进了一间屋子
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar">
            <section class="Boss">
                <div class="row">
                    <h3>反派BOSS</h3>
                    <a href="javascript:Spread1(1); ">展开↓</a>
                </div>
                <div class="xiru">
                    <img src="~/ALL_IMAGE/LiuBoWen/反派角色/沙鲁.jpg" />
                    <a href="">沙鲁</a>
                    <blockquote><em><small>格罗博士所造的生化人</small></em></blockquote>
                </div>
                <div class="buou">
                    <img src="~/ALL_IMAGE/LiuBoWen/反派角色/魔人布欧.jpg">
                    <a href="">魔人布欧</a>
                    <blockquote><em><small>巴菲迪所造的破坏兵器</small></em></blockquote>
                </div>
                <div class="furiza">
                    <img src="~/ALL_IMAGE/LiuBoWen/反派角色/弗利沙.jpg">
                    <a href="">弗利沙</a>
                    <blockquote><em><small>宇宙帝王(笑~)</small></em></blockquote>
                </div>
                <div class="TheFirstDragon">
                    <img src="~/ALL_IMAGE/LiuBoWen/反派角色/一星龙.jpg">
                    <a href="">一星龙</a>
                    <blockquote><em><small>GT中最强邪恶龙</small></em></blockquote>
                </div>
                <div id="unvisible" style="display: none">
                    <div id="burori">
                        <img src="~/ALL_IMAGE/LiuBoWen/反派角色/布罗利.jpg">
                        <a href="">布罗利</a>
                        <blockquote><em><small>传说的超级赛亚人</small></em></blockquote>
                    </div>
                    <div id="kuedeon">
                        <img src="~/ALL_IMAGE/LiuBoWen/反派角色/库尔德王.jpg">
                        <a href="">库尔德王</a>
                        <blockquote><em><small>弗利萨他爸</small></em></blockquote>
                    </div>
                    <div id="dariesi">
                        <img src="~/ALL_IMAGE/LiuBoWen/反派角色/达列斯.jpg">
                        <a href="">达列斯</a>
                        <blockquote><em><small>赛亚人</small></em></blockquote>
                    </div>
                    <div id="number17">
                        <img src="~/ALL_IMAGE/LiuBoWen/反派角色/17号.jpg">
                        <a href="">17号</a>
                        <blockquote><em><small>格罗博士封印的人造人</small></em></blockquote>
                    </div>
                </div>
            </section>
            <section class="Game">
                <div class="row">
                    <h3>相关游戏</h3>
                    <a href="javascript:Spread2();">展开↓</a>
                </div>
                <div class="cs2.3">
                    <img src="~/ALL_IMAGE/LiuBoWen/龙珠Game/cs七龙珠2.3.jpg">
                    <a href="">cs七龙珠2.3</a>
                    <blockquote><em><small>非常好的游戏（没玩过...）</small></em></blockquote>
                </div>
                <div class="mugen">
                    <img src="~/ALL_IMAGE/LiuBoWen/龙珠Game/龙珠mugen.jpg">
                    <a href="">龙珠mugen</a>
                    <blockquote><em><small>动作格斗游戏（没玩过...）</small></em></blockquote>
                </div>
                <div class="super">
                    <img src="~/ALL_IMAGE/LiuBoWen/龙珠Game/龙珠超宇宙.jpg">
                    <a href="">龙珠超宇宙</a>
                    <blockquote><em><small>坑爹网游（没玩过...）</small></em></blockquote>
                </div>
            </section>
        </div>
    </div>
    <div id="footer">
        <p name="name1 name2"></p>
    </div>
</body>
</html>