

/* CSS Document */

.role {
    float: right;
    height: 0px;
}

.header {
    float: top;
}

.mune {
    float: left;
}

ul {
    list-style: none;
    width: auto;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover, .dropdown:hover, .dropbtn {
            background-color: #111;
        }

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.right {
    float: right;
    width: 200px;
    padding: 10px;
    position: relative;
    background-color: #000;
    color: #fff;
    margin-top: 50px;
}

    .right h3 {
        font-size: 12px;
    }

    .right #r2 {
        display: none;
    }

    .right #btn1, #btn2 {
        color: #fff;
        background-color: #000;
    }

body {
    margin: 0 auto;
    width: 1152px;
}

.main {
    width: 900px;
}
